* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.cards-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card-vaga {
    flex: 1 1 300px; 
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background: #fff;
}

@media (min-width: 768px) {
    .cards-grid {
        justify-content: center;
    }
}
